.projects {
  height: 100vh;
  padding-top: 80px;

  .heading-container {
    text-align: center;
    font-family: Arial, sans-serif;

    .heading {
      display: inline-block;
      position: relative;
      font-size: 24px;
      text-transform: uppercase;
      margin: 0;
    }

    .underline {
      width: 50px;
      height: 4px;
      background-color: #00bfff;
      display: block;
      margin: 8px auto 0;
    }
  }
  .swiper {
    width: 60%;
    min-width: 300px;
    height: 70vh;
    margin-top: 40px;
  }

  .swiper-slide {
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    background-color: #003264;
    box-shadow: rgba(247, 248, 248, 0.12) 0px 2px 4px 0px,
      rgba(249, 250, 250, 0.32) 0px 2px 16px 0px;
    display: flex;
    flex-direction: column;
    transition: 0.3s;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    .infoSection {
      padding: 20px;
      flex-basis: 50%;

      h1 {
        margin-bottom: 16px;
      }

      p {
        font-size: 16px;
        margin-bottom: 24px;
      }
    }

    .technologySection {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 10px;
      margin-bottom: 24px;

      h3 {
        width: 100%;
        margin-bottom: 8px;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;

      @media (min-width: 768px) {
        flex-direction: row;
      }

      .liveDemoButton,
      .githubButton {
        border: none;
        padding: 10px 15px;
        margin: 5px 0;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        background-color: #007bff;

        &:hover {
          background-color: darken(#007bff, 10%);
        }
      }

      .githubButton {
        background-color: #24292e;

        &:hover {
          background-color: darken(#24292e, 10%);
        }
      }
    }

    .imageSection {
      position: relative;
      flex-basis: 50%;
      background-color: #f8f8f8;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;

      @media (min-width: 768px) {
        border-top-right-radius: 0;
        border-bottom-left-radius: 5px;
      }

      // Assuming you have an image with class 'backgroundImage'
      .backgroundImage {
        width: 100%;
        height: auto;
      }
    }
  }
}
