@import "../../variables";

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-20px);
  }
}

.projects {
  padding-top: 80px;

  .heading-container {
    text-align: center;
    font-family: "Manrope", sans-serif;

    .heading {
      display: inline-block;
      font-size: 2rem;
      text-transform: uppercase;
      margin: 0;
    }

    .underline {
      width: 80px;
      height: 4px;
      background-image: linear-gradient(to right, $purple-color, #007bff);
      display: block;
      margin: 1rem auto;
    }
  }
}

.swiper {
  width: 65%;
  /* Set width to 100% for responsiveness */

  .swiper-slide {
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    background-color: #00203f;
    box-shadow: 0 8px 16px rgba(0, 50, 100, 0.2);

    .infoSection {
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding: 20px;
      color: white;

      .project-title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .swipe-left {
          display: flex;
          align-items: center;
          font-weight: bold;

          .left-arrow {
            animation: moveLeft 0.8s infinite alternate;
          }
        }

        h1 {
          font-size: 1.5rem;
        }
      }

      p {
        font-size: 1rem;
      }

      .technologySection {
        display: flex;
        flex-direction: column;
        gap:10px;

        .tech-stack {
          display: grid;
          width: 100%;
          grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));

          .tech-pill {
            display: flex;
            justify-content: center;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            color: #0a0a0a;
            background-color: $light-theme-background;
            border-radius: 15px;
            padding: 5px 10px;
            margin: 5px;
            font-size: 0.85rem;
          }
        }
      }

      .buttons {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        gap: 10px;

        .button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap:8px;
          text-decoration: none;
          height: 40px;
          border-radius: 5px;
          color: #fff;
          font-size: 14px !important;
          font-weight: bold;
          text-align: center;
          background-image: linear-gradient(to right, $purple-color, #007bff);
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #0056b3;
          }

          &.githubButton {
            background-image: linear-gradient(to right, #3e3c5f, #105196);

            &:hover {
              background-color: #1c1e21;
            }
          }
        }
      }
    }

   .imageSection {

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 10px;
      padding: 10px;


      .images {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .backgroundImage {
          width: 100%;
          height: auto;
          object-fit: contain;
          transition: transform 0.3s ease-in-out;
          border-radius: 8px;
          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .projects {
    padding-top: 60px;
  }

  .swiper {
    width: 50%;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-details {
  padding: 16px;

  .card-title {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }

  .card-description {
    color: #555;
    margin-bottom: 16px;
  }

  .tech-stack {
    margin-bottom: 16px;

    strong {
      display: block;
      margin-bottom: 8px;
    }

    ul {
      list-style-type: none;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
      gap: 15px;
      align-items: center;
      justify-content: center;

      li {
        margin-bottom: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        font-size: 12px;
        font-family: "Manrope", sans-serif;
        height: 30px;
      }
    }
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;

    a {
      text-align: center;
      padding: 8px 16px;
      text-decoration: none;
      color: #fff;
      border-radius: 4px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;

      &:first-child {
        background-image: linear-gradient(to right, $purple-color, #007bff);
      }

      &:last-child {
        background-image: linear-gradient(to right, #3e3c5f, #105196);
      }
    }
  }
}
