// Keyframes for the floating animation
@keyframes floatUpFromBottom {
  0% {
    transform: translateY(50px); // Start below the viewable area
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

// Container for centering the navigation bar
.navigation-container {
  position: fixed; // Fixed position
  right: 10px;
  top: 300px;
  display: flex;
  justify-content: center; // Center horizontally
  animation: floatUpFromBottom 0.5s ease-out; // Apply the animation
  border-radius: 50px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 100%
  ); // Fully transparent background
  backdrop-filter: blur(10px); // Blur effect applied to content underneath
  box-shadow: rgb(255, 255, 255) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.navigation-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 15px;
  width: fit-content;
  border-radius: 50px;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 40px;
  height: 40px;

  font-size: 24px;
  color: #5a398b;

  &:hover {
    background-color: #64b280;
    border-radius: 60px;
  }

  .anticon {
    font-size: 20px;
    color: #000000;
  }

  &.selected {
    background-color: #64b280;
    border-radius: 60px;
    .anticon {
      color: #1890ff;
    }
  }
}

// Additional responsive styling if needed
@media (max-width: 480px) {
  .navigation-bar {
    padding: 10px 5px; // Reduce padding on smaller screens
  }
}

.navigation-container-hide {
  display: none; // Or 'flex' if it was a flex container
}
