.contact{
    height: 100vh;
    padding-top: 80px;

    .heading-container {
        text-align: center;
        font-family: Arial, sans-serif; 
      }
      
      .heading {
        display: inline-block;
        position: relative;
        font-size: 24px; 
        text-transform: uppercase; 
        margin: 0;
      }
      
      .underline {
        width: 50px; 
        height: 4px; 
        background-color: #00bfff; 
        display: block;
        margin: 8px auto 0; 
      }

}