
@import './variables.scss';
@import './mixins';
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@700&family=Manrope:wght@400;500;600;700;800&display=swap");


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark-mode {
  @include apply-theme($dark-theme);
  
}

.light-mode {
  @include apply-theme($light-theme);
}

body{
  font-family: "Manrope", sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 8px;
  border-radius: 30px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
outline: 1px solid slategrey;
}

.app{
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  transition: background-color 1.9s ease;

  
}
